@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --body-color: #E4E9F7;
    --nav-color: #3c823f;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-light-blue: #21980f; /* Light blue color */
    --search-dark-blue: #005086; /* Dark blue color */
    --search-text: #010718;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    background-image: url('/images/play.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh - 70px); 
}

.search-field-wide {
    max-width: 300px; 
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1px; 
    border: 2px solid var(--search-bar);
    border-radius: 25px; 
    position: relative;
    overflow: hidden; 
}

.search-field-wide input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background: var(--body-color);
    border: 2px solid var(--search-bar); 
    border-radius: 25px; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-field-wide input:focus {
    border-color: var(--search-dark-blue); 
    box-shadow: 0 0 10px rgba(0, 80, 134, 0.6); 
}

.search-field button {
    padding: 10px;
    background: var(--search-light-blue); 
    border: none;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 25px; 
    transition: background 0.3s ease; 
}

.search-field button:hover {
    background: var(--search-dark-blue); 
}

.about-section {
    max-width: 900px;
    margin: 15px auto; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 20px; 
}



@media (max-width: 790px) {
    .search-field-wide {
        margin-top: 10px; 
    }
}
